@page "/"

<PageTitle>Index</PageTitle>

<h1>первая страничка :)</h1>

Welcome to my first app.

Data // файлы имеющие доступ к системе сервера
    WeatherForecast.cs -> прототип класса
    WeatherForecastService.cs -> реализация класса

pages 
    index.razor -> основная страничка. которая добавляет во все остальные.
        Counter.razor -> страничка с счетчиком
    //серверные странички
        _Host
        _Layout

 shared 
    MainLayout.razor -> создает панель
        NavMenu.razor -> добавляет в панель страничку

